numpy~=1.26.3
scipy~=1.11.4
tqdm~=4.66.3
opencv-python~=4.6.0.66
torch>=1.11
torchvision~=0.16.2+cu121

mmcv~=2.2.0
Pillow~=9.5.0
matplotlib~=3.8.2
setuptools~=67.6.1
scikit-image~=0.22.0
blobfile~=3.0.0
mpi4py~=4.0.3